<template>
  <div class="login-container" @keyup.enter.native="handleLogin">
    <top-color v-show="false"></top-color>
    <div class="login-weaper animated bounceInDown">
      <div class="login-left">
        <div class="login-time">
          {{ time }}
        </div>
        <img class="img" src="img/logo.png" alt="" />
        <p class="title">{{ $t("login.info") }}</p>
      </div>
      <div class="login-border">
        <div class="login-main">
          <h4 class="login-title">
            {{ $t("login.title") }}
            <top-lang></top-lang>
          </h4>
          <userLogin v-if="activeName === 'user'" @isLogin="isLogin"></userLogin>
          <codeLogin v-else-if="activeName === 'code'"></codeLogin>
          <thirdLogin v-else-if="activeName === 'third'"></thirdLogin>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import userLogin from "./userlogin";
import codeLogin from "./codelogin";
import thirdLogin from "./thirdlogin";
import { mapGetters } from "vuex";
import { dateFormat } from "@/util/date";
import { validatenull } from "@/util/validate";
import topLang from "@/page/admin/top/top-lang";
import topColor from "@/page/admin/top/top-color";
import {getQueryString, getTopUrl} from "@/util/util";

export default {
  name: "login",
  components: {
    userLogin,
    codeLogin,
    thirdLogin,
    topLang,
    topColor,
  },
  data() {
    return {
      time: "",
      activeName: "user",
      icasForm: {
        tenantId: "000000",
        source: "",
        code: "",
        state: "",
      }
    };
  },
  watch: {
    $route() {
      this.handleLogin()
    },
  },
  created() {
    this.handleLogin()
    this.getTime();
  },
  computed: {
    ...mapGetters(["tagWel","website","userInfo"]),
  },
  props: [],
  mounted() {},
  methods: {
    handleLogin() {  // 登陆处理
      const topUrl = getTopUrl();
      const redirectUrl = "/oauth/redirect/";
      this.icasForm.source = getQueryString("source");
      this.icasForm.code = getQueryString("code");
      this.icasForm.state = getQueryString("state");
      if (validatenull(this.icasForm.source) && topUrl.includes(redirectUrl)) {
        let source = topUrl.split("?")[0];
        source = source.split(redirectUrl)[1];
        this.icasForm.source = source;
      }
      if (!validatenull(this.icasForm.source) && !validatenull(this.icasForm.code) && !validatenull(this.icasForm.state)) {
        const loading = this.$loading({
          lock: true,
          text: '第三方系统登录中,请稍后。。。',
          spinner: "el-icon-loading"
        });
        this.$store.dispatch("LoginByIcas", this.icasForm).then(() => {
          window.location.href = topUrl.split(redirectUrl)[0];
          this.$router.push({path: this.tagWel.value});
          loading.close();
        }).catch(() => {
          loading.close();
        });
      }
    },
    isLogin() {
      // 登陆成功后刷新路由防止bug
      windows.location.reload()
      // this.$router.push({ path: this.tagWel.value});
      // if(this.userInfo.authority.includes("data_user")) {
      //   this.$router.push({path: "/test"})
      // }else {
      //
      // }
    },
    getTime() {
      setInterval(() => {
        this.time = dateFormat(new Date());
      }, 1000);
    },
  },
};
</script>

<style lang="scss">
@import "@/styles/login.scss";
</style>
