<template>
  <div class="social-container">
    <div
      v-for="social in icas"
      :key="social.source"
      class="box"
      @click="handleClick(social.source)"
    >
      <span
        class="container"
        :style="{ backgroundColor: social.backgroundColor }"
      >
        <i :icon-class="social.iconClass" :class="social.iconfont"></i>
      </span>
      <p class="title">{{ $t(social.i18n) }}</p>
    </div>
  </div>
</template>

<script>
import { oauthRender } from "@/api/icas";
import { encodeQueryString } from "@/util/util";

export default {
  name: "thirdLogin",
  data: () => ({
    src: null,
    icas: [
      {
        source: "dingtalk",
        backgroundColor: "#8dc349",
        iconClass: "dingtalk",
        iconfont: "iconfont icon-dingtalk",
        i18n: "login.dingtalk",
      },
      // {
      //   source: 'wechat',
      //   backgroundColor: '#6ba2d6',
      //   iconClass: 'wechat',
      //   iconfont: 'iconfont icon-weixin',
      //   i18n: 'login.wechat'
      // },
      // {
      //   source: 'tencent',
      //   backgroundColor: '#8dc349',
      //   iconClass: 'qq',
      //   iconfont: 'iconfont icon-qq',
      //   i18n: 'login.qq'
      // }
      // {
      //   source: 'wechat_mp',
      //   backgroundColor: '#6ba2d6',
      //   iconClass: 'wechat',
      //   iconfont: 'iconfont icon-weixin',
      //   i18n: 'login.wechat'
      // },
    ],
  }),
  methods: {
    handleClick(source) {
      oauthRender(source).then((res) => {
        let { data } = res.data;
        // 根据应用集成要求选择url转码
        let renderUrl = encodeQueryString("redirect_uri", data);
        // 1. 直接跳转
        window.location.href = renderUrl;
        // 2. 使用小窗打开
        // openWindow(renderUrl, source, 540, 540);
      });
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.social-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .box {
    cursor: pointer;
  }
  .iconfont {
    color: #fff;
    font-size: 30px;
  }
  .container {
    $height: 50px;
    display: inline-block;
    width: $height;
    height: $height;
    line-height: $height;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .title {
    text-align: center;
    color: #76838f;
  }
}
</style>
