<template>
  <el-form
    class="login-form"
    status-icon
    :rules="loginRules"
    ref="loginForm"
    :model="loginForm"
    label-width="0"
  >
    <!--<el-form-item v-if="tenantMode" prop="tenantId">-->
      <!--<el-input-->
        <!--size="small"-->
        <!--@keyup.enter.native="handleLogin"-->
        <!--v-model="loginForm.tenantId"-->
        <!--auto-complete="off"-->
        <!--:placeholder="$t('login.tenantId')"-->
      <!--&gt;-->
        <!--<i slot="prefix" class="icon-quanxian"></i>-->
      <!--</el-input>-->
    <!--</el-form-item>-->
    <el-form-item prop="username">
      <el-input
        size="small"
        @keyup.enter.native="handleLogin"
        v-model="loginForm.username"
        auto-complete="off"
        :placeholder="$t('login.username')"
      >
        <i slot="prefix" class="icon-yonghu"></i>
      </el-input>
    </el-form-item>
    <el-form-item prop="password">
      <el-input
        size="small"
        @keyup.enter.native="handleLogin"
        :type="passwordType"
        v-model="loginForm.password"
        auto-complete="off"
        :placeholder="$t('login.password')"
      >
        <i
          class="el-icon-view el-input__icon"
          slot="suffix"
          @click="showPassword"
        ></i>
        <i slot="prefix" class="icon-mima"></i>
      </el-input>
    </el-form-item>
    <el-form-item v-if="captchaMode" prop="code">
      <el-row :span="24">
        <el-col :span="16">
          <el-input
            size="small"
            @keyup.enter.native="handleLogin"
            v-model="loginForm.code"
            auto-complete="off"
            :placeholder="$t('login.code')"
          >
            <i slot="prefix" class="icon-yanzhengma" />
          </el-input>
        </el-col>
        <el-col :span="8">
          <div class="login-code">
            <img
              :src="loginForm.image"
              class="login-code-img"
              @click="refreshCode"
            />
          </div>
        </el-col>
      </el-row>
    </el-form-item>
    <el-form-item v-if="rememberMode">
      <el-row :span="24">
        <el-col :span="12">
          <el-checkbox v-model="loginForm.remember">{{
            $t("login.remember")
          }}</el-checkbox>
        </el-col>
        <el-col :span="12">
          <div style="text-align:right">
            <!-- 忘记密码功能由业务系统自由实现 -->
            <el-tooltip
              effect="dark"
              :content="$t('login.contact')"
              placement="right-start"
            >
              <div slot="content">
                {{ $t("login.forgetPwd") }}<br />
                {{ $t("login.contact") }}
              </div>
              <el-button type="text">{{ $t("login.forgetPwd") }}</el-button>
            </el-tooltip>
            <!-- <el-button type="text">{{ $t("login.forgetPwd") }}</el-button> -->
          </div>
        </el-col>
      </el-row>
    </el-form-item>
    <el-form-item>
      <el-button
        type="primary"
        size="small"
        @click.native.prevent="handleLogin"
        class="login-submit"
        >{{ $t("login.submit") }}
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { mapGetters } from "vuex";
import website from "@/config/website";
import { getCaptcha } from "@/api/user";
import { getStore, setStore, removeStore } from "@/util/store";
import { encryption } from "@/util/util";
export default {
  name: "userlogin",
  data() {
    return {
      tenantMode: website.tenantMode,
      captchaMode: website.captchaMode,
      rememberMode: website.rememberMode,
      loginForm: {
        //租户ID
        tenantId: "000000",
        //用户名
        username: "",
        //密码
        password: "",
        //账户类型
        type: "account",
        //验证码的值
        code: "",
        //验证码的索引
        key: "",
        //预加载白色背景
        image:
          "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7",
        remember: false,
      },
      loginRules: {
        tenantId: [
          { required: false, message: "请输入租户ID", trigger: "blur" },
        ],
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 1, message: "密码长度最少为6位", trigger: "blur" },
        ],
      },
      passwordType: "password",
    };
  },
  created() {
    this.refreshCode();
    let context = getStore({ name: "Remember" });
    if (context) {
      this.loginForm.username = context.username;
      this.loginForm.password = context.password;
      this.loginForm.remember = context.remember;
    }
  },
  mounted() {},
  computed: {
    ...mapGetters(["tagWel"]),
  },
  props: [],
  methods: {
    refreshCode() {
      getCaptcha().then((res) => {
        const data = res.data.data;
        this.loginForm.key = data.key;
        this.loginForm.image = data.img;
      });
    },
    showPassword() {
      this.passwordType === ""
        ? (this.passwordType = "password")
        : (this.passwordType = "");
    },
    saveUserpass() {
      if (this.rememberMode && this.loginForm.remember) {
        let { username, password, remember } = this.loginForm;
        let data = {
          username,
          password,
          remember,
        };

        setStore({
          name: "Remember",
          content: data, // todo: 明文
        });
      } else {
        removeStore({ name: "Remember" });
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          const loading = this.$loading({
            lock: true,
            text: "登录中,请稍后。。。",
            spinner: "el-icon-loading",
          });
          this.$store
            .dispatch("LoginByUsername", this.loginForm)
            .then(() => {
              this.saveUserpass();
              // this.$emit("isLogin")
              this.$router.push({ path: this.tagWel.value });
              loading.close();
            })
            .catch(() => {
              loading.close();
            });
        }
      });
    },
  },
};
</script>

<style></style>
