<template>
  <base-container>
    <avue-crud
      ref="crud"
      v-model="form"
      :option="option"
      :table-loading="loading"
      :data="data"
      :page="page"
      :permission="permissionList"
      @before-open="beforeOpen"
      @row-update="rowUpdate"
      @row-save="rowSave"
      @row-del="rowDel"
      @search-change="searchChange"
      @search-reset="searchReset"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
      @refresh-change="onLoad(page)"
    >
      <template slot="menuLeft">
        <el-button
          v-if="permission.client_delete"
          type="danger"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
          >删 除
        </el-button>
      </template>
    </avue-crud>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import { getList, getDetail, add, update, remove } from "@/api/setting/client";

export default {
  layout: "admin",
  data() {
    return {
      form: {},
      query: {},
      loading: true,
      page: {
        pageSize: 10,
        currentPage: 1,
        total: 0,
      },
      selectionList: [],
      option: {
        // height: 'auto',
        // calcHeight: 210,
        searchBtn: true,
        searchShow: true,
        searchMenuSpan: 6,
        columnBtn: true,
        refreshBtn: true,
        addBtn: true,
        editBtn: true,
        viewBtn: true,
        delBtn: true,
        tip: false,
        border: true,
        index: true,
        selection: true,
        menuWidth: 210,
        column: [
          {
            label: "应用Key",
            prop: "clientId",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入客户端id",
                trigger: "blur",
              },
            ],
          },
          {
            label: "应用密钥",
            prop: "clientSecret",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入客户端密钥",
                trigger: "blur",
              },
            ],
          },
          {
            label: "资源集合",
            prop: "resourceIds",
            hide: true,
            editDisplay: false,
            rules: [
              {
                required: true,
                message: "请输入资源集合",
                trigger: "blur",
              },
            ],
          },
          {
            label: "授权范围",
            prop: "scope",
            rules: [
              {
                required: true,
                message: "请输入授权范围",
                trigger: "blur",
              },
            ],
          },
          {
            label: "授权类型",
            prop: "authorizedGrantTypes",
            rules: [
              {
                required: true,
                message: "请输入授权类型",
                trigger: "blur",
              },
            ],
          },
          {
            label: "回调地址",
            prop: "webServerRedirectUri",
            rules: [
              {
                required: true,
                message: "请输入回调地址",
                trigger: "blur",
              },
            ],
          },
          {
            label: "权限",
            prop: "authorities",
            hide: true,
            editDisplay: false,
            rules: [
              {
                required: false,
                message: "请输入权限",
                trigger: "blur",
              },
            ],
          },
          {
            label: "令牌秒数",
            prop: "accessTokenValidity",
            type: "number",
            rules: [
              {
                required: true,
                message: "请输入令牌过期秒数",
                trigger: "blur",
              },
            ],
          },
          {
            label: "自动授权",
            prop: "autoapprove",
            type: "switch",
            activeValue: "1",
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入自动授权",
                trigger: "blur",
              },
            ],
          },
          {
            label: "刷新秒数",
            prop: "refreshTokenValidity",
            type: "number",
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入刷新令牌过期秒数",
                trigger: "blur",
              },
            ],
          },

          {
            label: "状态",
            prop: "status",
            hide: true,
            editDisplay: false,
            rules: [
              {
                required: true,
                message: "请输入状态",
                trigger: "blur",
              },
            ],
          },
          {
            label: "附加说明",
            prop: "additionalInformation",
            type: "textarea",
            hide: true,
            span: 24,
            rules: [
              {
                required: false,
                message: "请输入附加说明",
                trigger: "blur",
              },
            ],
          },
        ],
      },
      data: [],
    };
  },
  computed: {
    ...mapGetters(["permission"]),
    permissionList() {
      return {
        addBtn: this.permission.client_add || false,
        viewBtn: this.permission.client_view || false,
        delBtn: this.permission.client_delete || false,
        editBtn: this.permission.client_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },

  methods: {
    rowSave(row, done, loading) {
      add(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowUpdate(row, index, done, loading) {
      update(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        });
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getDetail(this.form.id).then((res) => {
          this.form = res.data;
        });
      }
      done();
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    selectionClear() {
      this.selectionList = [];
      this.$refs.crud.toggleSelection();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
    },
    onLoad(page, params = {}) {
      this.loading = true;
      getList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data.records;
        this.loading = false;
        this.selectionClear();
      });
    },
  },
};
</script>

<style></style>
