<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <base-container>
    <avue-crud
      ref="crud"
      v-model="form"
      :option="option"
      :table-loading="loading"
      :data="data"
      :page="page"
      :permission="permissionList"
      @before-open="beforeOpen"
      @row-update="rowUpdate"
      @row-save="rowSave"
      @row-del="rowDel"
      @search-change="searchChange"
      @search-reset="searchReset"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
      @refresh-change="onLoad(page)"
    >
      <template slot="menuLeft">
        <el-button
          v-if="permission.dept_delete"
          type="danger"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
          >删 除
        </el-button>
      </template>
      <template v-slot:menu="scope">
        <el-button
          v-if="userInfo.authority.includes('admin')"
          type="text"
          icon="el-icon-circle-plus-outline"
          size="small"
          @click.stop="handleAdd(scope.row, scope.index)"
        >
          新增子项
        </el-button>
      </template>
    </avue-crud>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import {
  getList,
  getDept,
  add,
  update,
  remove,
  getDeptTree,
} from "@/api/setting/dept";
import { getTenantSelect } from "@/api/setting/tenant";
import website from "@/config/website";
import {baseUrl} from "@/config/env";
import Rules from '@/const/rules';
export default {
  layout: "admin",
  data() {
    return {
      form: {},
      query: {},
      loading: true,
      page: {
        pageSize: 10,
        currentPage: 1,
        total: 0,
      },
      selectionList: [],
      option: {
        // height: 'auto',
        // calcHeight: 210,
        searchBtn: true,
        searchShow: true,
        searchMenuSpan: 6,
        columnBtn: true,
        refreshBtn: true,
        addBtn: true,
        editBtn: true,
        viewBtn: true,
        delBtn: true,
        tip: false,
        border: true,
        index: true,
        selection: true,
        menuWidth: 300,
        page:false,
        column: [
          {
            label: "机构名称",
            prop: "deptName",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入部门名",
                trigger: "blur",
              },
              Rules.change60
            ],
          },
          {
            label: "机构全称",
            prop: "fullName",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入部门全称",
                trigger: "blur",
              },
              Rules.change120
            ],
          },
          {
            label: "所属租户",
            prop: "tenantId",
            type: "tree",
            // dicUrl: baseUrl + "/tenant/select",
            props: {
              label: "tenantName",
              value: "tenantId",
            },
            hide: !website.tenantMode,
            editDisplay: website.tenantMode,
            viewDisplay: website.tenantMode,
            search: false,
            rules: [
              {
                required: true,
                message: "请输入租户ID",
                trigger: "blur",
              },
            ],
          },
          {
            label: "上级机构",
            prop: "parentId",
            type: "tree",
            // dicUrl: baseUrl + "/dept/tree",
            hide: true,
            props: {
              label: "title",
              value: "id",
            },
          },

          {
            label: "排序",
            prop: "sort",
            type: "number",
          },
          {
            label: "备注",
            prop: "remark",
            hide: true,
            span: 24,
            type: "textarea",
            rules: [
              Rules.change120
            ],
          },
        ],
      },
      data: [],
    };
  },
  computed: {
    ...mapGetters(["userInfo", "permission"]),
    permissionList() {
      return {
        addBtn: this.permission.dept_add || false,
        viewBtn: this.permission.dept_view || false,
        delBtn: this.permission.dept_delete || false,
        editBtn: this.permission.dept_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },
  methods: {
    handleAdd(row, index) {
      this.$console.log("handleAdd");
      this.$console.log(row);
      this.$console.log(index);

      this.$refs.crud.rowAdd();
      this.$refs.crud.value.parentId = row.id;
    },
    rowSave(row, done, loading) {
      add(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowUpdate(row,index, done, loading) {
      update(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          this.$console.log(error);
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        });
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getDept(this.form.id).then((res) => {
          this.form = res.data.data;
        });
      }
      done();
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    selectionClear() {
      this.selectionList = [];
      this.$refs.crud.toggleSelection();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
    },
    onLoad(page, params = {}) {
      this.loading = true;

      getList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data;
        this.loading = false;
        this.selectionClear();
      });
      getTenantSelect().then((res) => {
        const column = this.$findObject(this.option.column, "tenantId");
        this.$console.log(column);
        column.dicData = res.data.data;
      });
      getDeptTree().then((res) => {
        const column = this.$findObject(this.option.column, "parentId");
        this.$console.log(column);
        column.dicData = res.data.data;
      });
    },
  },
};
</script>

<style></style>
