<!--
Copyright (c) 2020-2030, Zhiqiangc 程志强 (zhiqiangc1991@outlook.com).
<p></p>
-->

<!--
/**
 * 菜单管理
 * @author     ：Zhiqiangc.
 * @date       ：Created in 14:23 2020/8/11
 */
-->
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <base-container>
    <avue-crud
      ref="crud"
      v-model="form"
      :permission="permissionList"
      :table-loading="loading"
      :option="option"
      :data="data"
      :page="page"
      :before-open="beforeOpen"
      @search-change="searchChange"
      @search-reset="searchReset"
      @row-save="rowSave"
      @row-update="rowUpdate"
      @row-del="rowDel"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
      @refresh-change="onLoad(page)"
    >
      <template v-slot:menuLeft>
        <el-button
          v-if="permission.menu_delete"
          type="danger"
          :size="option.size"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
          >删 除
        </el-button>
      </template>

      <template v-slot:menu="scope">
        <el-button
          v-if="userInfo.authority.includes('admin')"
          type="text"
          icon="el-icon-circle-plus-outline"
          size="small"
          @click.stop="handleAdd(scope.row, scope.index)"
        >
          新增子项
        </el-button>
      </template>
    </avue-crud>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import { baseUrl } from "@/config/env";
import {
  getList,
  getMenu,
  add,
  update,
  remove,
  getMenuTree,
} from "@/api/setting/menu";
import iconList from "@/config/iconList";
import { getDict } from "@/api/setting/dict";
import Rules from '@/const/rules';
export default {
  layout: "admin",
  name: "MenuSetting",
  data: () => ({
    loading: true,
    form: {}, // 表单
    selectionList: [], // 选中的id
    query: {},
    page: {
      // 分页
      pageSize: 10,
      currentPage: 1,
      total: 0,
    },
    option: {
      size: "small",
      searchBtn: true,
      searchShow: true,
      searchMenuSpan: 6,
      columnBtn: true,
      refreshBtn: true,
      addBtn: true,
      editBtn: true,
      viewBtn: true,
      delBtn: true,
      // 表格配置
      tip: false,
      border: true,
      index: true,
      selection: true,
      menuWidth: 300,
      page: false,
      column: [
        {
          fixed: true,
          label: "菜单名称",
          prop: "name",
          search: true,
          rules: [
            {
              required: true,
              message: "请输入菜单名称",
              trigger: "blur",
            },
            Rules.change120,
          ],
        },
        {
          label: "路由地址",
          prop: "path",
          rules: [
            {
              required: true,
              message: "请输入路由地址",
              trigger: "blur",
            },
            Rules.change120,
          ],
        },
        {
          label: "父级菜单",
          prop: "parentId",
          type: "tree",
          // dicUrl: baseUrl + "/menu/tree",
          hide: true,
          showColumn: false,
          props: {
            label: "title",
            value: "id",
          },
        },
        {
          label: "菜单图标",
          prop: "source",
          type: "icon",
          align: "center",
          iconList,
        },
        {
          label: "菜单编号",
          prop: "code",
          search: true,
          maxlength: 20,
          rules: [
            {
              required: true,
              message: "请输入菜单编号",
              trigger: "blur",
            },
            Rules.change120,
          ],
        },
        {
          label: "菜单类型",
          prop: "category",
          type: "radio",
          showColumn: false,
          // dicUrl: baseUrl+"/dict/dictionary?code=menu_category",
          props: {
            label: "dictValue",
            value: "dictKey",
          },
          hide: true,
          rules: [
            {
              required: true,
              message: "请选择菜单类型",
              trigger: "blur",
            },
          ],
        },
        {
          label: "别名",
          prop: "alias",
          rules: [
            {
              required: true,
              message: "请输入别名",
              trigger: "blur"
            },
            Rules.change120,
          ],
        },

        {
          label: "排序",
          prop: "sort",
          type: "number",
        },

        {
          label: "备注",
          prop: "remark",
          span: 24,
          type: "textarea",
          hide: true,
          rules: [Rules.change120],
        },
      ],
    },
    data: [],
  }),
  computed: {
    ...mapGetters(["userInfo", "permission"]),
    permissionList() {
      return {
        addBtn: this.permission.menu_add || false,
        viewBtn: this.permission.menu_view || false,
        delBtn: this.permission.menu_delete || false,
        editBtn: this.permission.menu_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },
  methods: {
    handleAdd(row, index) {
      this.$console.log("handleAdd");
      this.$console.log(row);
      this.$console.log(index);

      this.$refs.crud.rowAdd();
      this.$refs.crud.value.parentId = row.id;
    },
    rowSave(row, done, loading) {
      add(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          this.$console.log(error);
          loading();
        }
      );
    },
    rowUpdate(row, index, done, loading) {
      update(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          this.$console.log(error);
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        });
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getMenu(this.form.id).then((res) => {
          this.form = res.data.data;
        });
      }
      done();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
    },
    onLoad(page, params = {}) {
      this.loading = true;
      getList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data;
        this.loading = false;
      });
      getMenuTree().then((res) => {
        const column = this.$findObject(this.option.column, "parentId");
        this.$console.log(column);
        column.dicData = res.data.data;
      });
      getDict("menu_category").then((res) => {
        const column = this.$findObject(this.option.column, "category");
        this.$console.log(column);
        column.dicData = res.data.data;
      });
    },
  },
};
</script>

<style scoped></style>
