<template>
  <base-container>
    <avue-crud
      ref="crud"
      v-model="form"
      :option="option"
      :table-loading="loading"
      :data="data"
      :page="page"
      :permission="permissionList"
      @before-open="beforeOpen"
      @row-update="rowUpdate"
      @row-save="rowSave"
      @row-del="rowDel"
      @search-change="searchChange"
      @search-reset="searchReset"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
       @refresh-change="onLoad(page)"
    >
      <template slot="menuLeft">
        <el-button
          v-if="permission.topMenu_delete"
          type="danger"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
        >
          删 除
        </el-button>
        <el-button
          v-if="permission.topMenu_setting"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleSetting"
        >
          菜单配置
        </el-button>
      </template>
    </avue-crud>
    <el-dialog title="菜单配置" :visible.sync="box" width="20%">
      <el-tree
        ref="tree"
        :data="init.menuTree"
        show-checkbox
        node-key="id"
        :default-checked-keys="defaultObj"
        :props="props"
      >
      </el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="box = false">取 消</el-button>
        <el-button type="primary" @click="submitGrant">
          确 定
        </el-button>
      </span>
    </el-dialog>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import {
  getList,
  getTopMenu,
  add,
  update,
  remove,
  getGrantKeys,
  grant,
} from "@/api/setting/top-menu";
import website from "@/config/website";
import iconList from "@/config/iconList";
import { getMenuTree } from "@/api/setting/menu";
export default {
  data() {
    return {
      box: false,
      defaultObj: [],
      init: {
        menuTree: [],
      },
      props: {
        label: "title",
        value: "key",
      },
      form: {},
      query: {},
      loading: true,
      page: {
        pageSize: 10,
        currentPage: 1,
        total: 0,
      },
      selectionList: [],
      option: {
        // height: 'auto',
        // calcHeight: 210,
        searchShow: true,
        searchMenuSpan: 6,
        addBtn: true,
        searchBtn: true,
        columnBtn: true,
        refreshBtn: true,
        tip: false,
        border: true,
        index: true,
        viewBtn: true,
        editBtn: true,
        delBtn: true,
        selection: true,
        page: true,
        menuWidth: 210,
        column: [
          {
            label: "唯一ID",
            prop: "id",
            display: false,
            hide: true
          },
          {
            label: "所属租户",
            prop: "tenantId",
            hide: !website.tenantMode,
            editDisplay: website.tenantMode,
            viewDisplay: website.tenantMode,
            rules: [
              {
                required: true,
                message: "请输入租户id",
                trigger: "blur",
              },
            ],
          },
          {
            label: "菜单编号",
            prop: "code",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入顶部菜单编号",
                trigger: "blur",
              },
            ],
          },
          {
            label: "菜单名称",
            prop: "name",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入顶部菜单名",
                trigger: "blur",
              },
            ],
          },
          {
            label: "菜单资源",
            prop: "source",
            type: "icon",
            align: "center",
            // slot: true,
            iconList,
            rules: [
              {
                required: true,
                message: "请输入顶部菜单资源",
                trigger: "blur",
              },
            ],
          },
          {
            label: "排序",
            prop: "sort",
            type: "number",
            rules: [
              {
                required: true,
                message: "请输入排序",
                trigger: "blur",
              },
            ],
          },
          {
            label: "默认跳转",
            prop: "path",
            rules: [
              {
                required: false,
                message: "请输入排序",
                trigger: "blur",
              },
            ],
          },
        ],
      },
      data: [],
    };
  },
  computed: {
    ...mapGetters(["permission"]),
    permissionList() {
      return {
        addBtn: this.permission.topMenu_add || false,
        viewBtn: this.permission.topMenu_view || false,
        delBtn: this.permission.topMenu_delete || false,
        editBtn: this.permission.topMenu_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },
  created() {
    getMenuTree().then((res) => {
      this.init.menuTree = res.data.data;
    });
  },
  methods: {
    submitGrant() {
      const menuLIst = this.$refs.tree.getCheckedKeys().join(",");
      grant(this.ids, menuLIst).then(() => {
        this.box = false;
        this.$message({
          type: "success",
          message: "操作成功!",
        });
        this.onLoad(this.page);
      });
    },
    rowSave(row, done, loading) {
      add(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          this.$console.log(error);
          loading();
        }
      );
    },
    rowUpdate(row, index, done, loading) {
      update(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          this.$console.log("===error====");
          this.$console.error(error);
           this.$message({
            type: "warning",
            message: "服务器开小差了，请稍后再试",
          });
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        });
    },
    handleSetting() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.defaultObj = [];
      getGrantKeys(this.ids).then((res) => {
        this.defaultObj = res.data.data;
        this.box = true;
      });
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getTopMenu(this.form.id).then((res) => {
          this.form = res.data.data;
        });
      }
      done();
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    selectionClear() {
      this.selectionList = [];
      this.$refs.crud.toggleSelection();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
      this.onLoad(this.page, this.query);
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
      this.onLoad(this.page, this.query);
    },
    onLoad(page, params = {}) {
      this.loading = true;
      getList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data.records;
        this.loading = false;
        this.selectionClear();
      });
    },
  },
};
</script>

<style></style>
