<template>
  <el-row>
    <!-- {{ option }} -->
    <el-col :span="18">
      <base-container>
        <avue-crud
          ref="crud"
          v-model="form"
          :option="option"
          :table-loading="loading"
          :data="data"
          :page="page"
          :permission="permissionList"
          @before-open="beforeOpen"
          @row-update="rowUpdate"
          @row-save="rowSave"
          @row-del="rowDel"
          @search-change="searchChange"
          @search-reset="searchReset"
          @selection-change="selectionChange"
          @current-change="currentChange"
          @size-change="sizeChange"
          @on-load="onLoad"
          @refresh-change="onLoad(page)"
        >
          <template slot="menuLeft">
            <el-button
              v-if="permission.user_delete"
              type="danger"
              size="small"
              icon="el-icon-delete"
              plain
              @click="handleDelete"
              >删 除
            </el-button>
            <el-button
              v-if="userInfo.authority.includes('admin')"
              type="info"
              size="small"
              icon="el-icon-user"
              plain
              @click="handleGrant"
              >角色配置
            </el-button>
            <el-button
              v-if="permission.user_reset"
              size="small"
              icon="el-icon-refresh"
              plain
              @click="handleReset"
              >密码配置
            </el-button>
          </template>
        </avue-crud>
      </base-container>
    </el-col>
    <el-col :span="6">
      <base-container>
        <el-input
          v-model="filterText"
          size="small"
          placeholder="输入关键字进行过滤"
        >
        </el-input>
        <el-tree
          ref="tree"
          class="filter-tree"
          :data="deptTree"
          :props="defaultProps"
          default-expand-all
          :filter-node-method="filterNode"
          @current-change="handleTreeChange"
        ></el-tree>
      </base-container>
    </el-col>
    <!--角色配置-->
    <el-dialog
      title="用户角色配置"
      append-to-body
      :visible.sync="roleBox"
      width="345px"
    >
      <el-tree
        ref="treeRole"
        :data="roleGrantList"
        check-strictly
        show-checkbox
        default-expand-all
        node-key="id"
        :default-checked-keys="roleTreeObj"
        :props="defaultProps"
      >
      </el-tree>

      <span slot="footer" class="dialog-footer">
        <el-button @click="roleBox = false">取 消</el-button>
        <el-button type="primary" @click="submitRole">确 定</el-button>
      </span>
    </el-dialog>
  </el-row>
</template>

<script>
import { mapGetters } from "vuex";
import {
  getList,
  getUser,
  add,
  grant,
  update,
  remove,
  resetPassword,
} from "@/api/setting/user";
import { getDeptTree } from "@/api/setting/dept";
import { getRoleTree } from "@/api/authority/role";
import { getTenantSelect } from "@/api/setting/tenant";
import website from "@/config/website";
import { getDict } from "@/api/setting/dict";
// import { getPostList } from "@/api/setting/post";

import Rules from '@/const/rules';
export default {
  data() {
    return {
      treeSelect: "",
      filterText: "",
      defaultProps: {
        children: "children",
        label: "title",
      },
      deptTree: [],
      roleBox: false,
      roleGrantList: [],
      roleTreeObj: [],
      form: {},
      query: {},
      loading: true,
      page: {
        pageSize: 10,
        currentPage: 1,
        total: 0,
      },
      selectionList: [],
      option: {
        // height: 'auto',
        // calcHeight: 210,
        searchBtn: true,
        searchShow: true,
        searchMenuSpan: 6,
        columnBtn: true,
        refreshBtn: true,
        addBtn: true,
        editBtn: true,
        viewBtn: true,
        delBtn: true,
        tip: false,
        border: true,
        index: true,
        selection: true,
        page: true,
        menuWidth: 210,
        column: [
           {
            label: "唯一ID",
            prop: "id",
            hide:true,
            display: false,
          },
          {
            label: "登陆账号",
            prop: "account",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入账号",
                trigger: "blur",
              },
              Rules.change120
            ],
          },
          {
            label: "所属租户",
            prop: "tenantId",
            type: "select",
            value: '000000',
            change: ({column,value}) => {
              getRoleTree(value).then((res) => {
                this.$refs.crud.updateDic("roleId",res.data.data)
              });
            },
            props: {
              label: "tenantName",
              value: "tenantId",
            },
            hide: !website.tenantMode,
            editDisplay: website.tenantMode,
            viewDisplay: website.tenantMode,
            search: true,
            rules: [
              {
                required: true,
                message: "请输入租户ID",
                trigger: "blur",
              },
            ],
          },
          {
            label: "用户姓名",
            prop: "realName",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入真名",
                trigger: "blur",
              },
              Rules.change120
            ],
          },
          {
            label: "邮箱",
            prop: "email",
            hide: true,
            showColumn: false,
            rules: Rules.email
          },
          {
            label: "手机",
            prop: "phone",
            hide: true,
            showColumn: false,
            overHidden: true,
            rules: Rules.mobile,
          },
          {
            label: "生日",
            prop: "birthday",
            type: "date",
            hide: true,
            showColumn: false,
            format: "yyyy-MM-dd",
            valueFormat: "yyyy-MM-dd hh:mm:ss",
          },
          {
            label: "性别",
            prop: "sex",
            type: "radio",
            hide: false,
            showColumn: false,
            props: {
              label: "dictValue",
              value: "dictKey",
            },
            rules: [
              {
                required: false,
                message: "请选择性别",
                trigger: "blur",
              },
            ],
          },
          {
            label: "所属部门",
            prop: "deptName",
            // viewDisplay: true,
            display: false
          },
          {
            label: "所属部门",
            prop: "deptId",
            type: "tree",
            showColumn: false,
            hide: true,
            rules: [
              {
                required: true,
                message: "请选择部门",
                trigger: "blur",
              },
            ],
            props: {
              label: "title",
              value: "id",
            },
          },
          {
            label: "所属角色",
            prop: "roleName",
            display: false
          },
          {
            label: "所属角色",
            prop: "roleId",
            type: "tree",
            showColumn: false,
            hide: true,
            props: {
              label:'title',
              value: 'id'
            },
            rules: [
              {
                required: true,
                message: "请输入角色id",
                trigger: "blur",
              },
            ],
          },
          {
            label: "所属岗位",
            prop: "postId",
            hide: true,
            rules: [
              {
                required: false,
                message: "请输入岗位",
                trigger: "blur",
              },
              Rules.change120
            ],
          },
        ],
      },
      data: [],
    };
  },
  computed: {
    ...mapGetters(["userInfo", "permission"]),
    permissionList() {
      return {
        addBtn: this.permission.user_add || false,
        viewBtn: this.permission.user_view || false,
        delBtn: this.permission.user_delete || false,
        editBtn: this.permission.user_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
  created() {

  },
  mounted() {
    getDeptTree(this.form.tenantId).then((res) => {
      this.deptTree = res.data.data;
      this.$refs.crud.updateDic('deptId',res.data.data);
    });
  },
  methods: {
    submitRole() {
      const roleList = this.$refs.treeRole.getCheckedKeys().join(",");
      grant(this.ids, roleList).then(() => {
        this.roleBox = false;
        this.$message({
          type: "success",
          message: "操作成功!",
        });
        this.onLoad(this.page);
      });
    },
    handleTreeChange(val) {
      this.query.deptId = val.id;
      this.onLoad(this.page, this.query);
    },
    filterNode(value, data) {
      if (!value) return true;
      return data[this.defaultProps.label].includes(value);
    },
    rowSave(row, done, loading) {
      add(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowUpdate(row, index, done, loading) {
      update(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        });
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    handleGrant() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.roleTreeObj = [];
      if (this.selectionList.length === 1) {
        this.roleTreeObj = this.selectionList[0].roleId.split(",");
      }
      getRoleTree().then((res) => {
        this.roleGrantList = res.data.data;
        this.roleBox = true;
      });
    },
    handleReset() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择账号密码重置为Zhslyjy@2020?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return resetPassword(this.ids);
        })
        .then(() => {
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getUser(this.form.id).then((res) => {
          this.form = res.data.data;
        });
      }
      done();
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    selectionClear() {
      this.selectionList = [];
      this.$refs.crud.toggleSelection();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
      this.onLoad(this.page, this.query);
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
      this.onLoad(this.page, this.query);
    },
    onLoad(page, params = {}) {
      this.loading = true;
      getList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.$console.log(data);
        this.page.total = data.total;
        this.data = data.records;
        this.loading = false;
        this.selectionClear();
      });
      getTenantSelect().then((res) => {
        this.$refs.crud.updateDic('tenantId',res.data.data);
      });
      getRoleTree(this.form.tenantId).then((res) => {
        this.$refs.crud.updateDic("roleId",res.data.data)
      });
      getDict("sex").then((res) => {
        this.$refs.crud.updateDic("sex",res.data.data)
      });
    },
  },
};
</script>

<style scoped>
.el-tree >>> .is-current .el-tree-node__label {
  color: #409eff;
  font-weight: 700;
}
.el-tree >>> .is-current .el-tree-node__children .el-tree-node__label {
  color: #606266;
  font-weight: normal;
}
</style>
