<template>
  <div>
    <base-container>
      <el-button
        size="small"
        @click="list.push({ a: '', b: [], random: [], randomNum: 4 })"
        >新增</el-button
      >
      <el-button v-if="!$validatenull(list)" size="small" @click="list = []"
        >清空</el-button
      >
      <el-button v-if="!$validatenull(list)" size="small" @click="genAll"
        >全部生成</el-button
      >
      <p>
        <el-badge
          v-for="item in exp"
          :key="item"
          :value="item.value"
          style="margin: 8px;"
        >
          <el-tag type="success">{{ item.name }}</el-tag>
        </el-badge>
      </p>
    </base-container>
    <base-container v-for="item in list" :key="item">
      <el-row>
        <el-col>
          被考核人：<el-select
            v-model="item.a"
            clearable
            filterable
            size="small"
            placeholder="请选择"
          >
            <el-option
              v-for="a in all"
              :key="a"
              :label="a"
              :value="a"
            ></el-option>
          </el-select>
          随机考核人：<el-select
            v-model="item.b"
            clearable
            multiple
            filterable
            size="small"
            style="width:50%"
            placeholder="请选择"
          >
            <el-option
              v-for="b in all"
              :key="b"
              :label="b"
              :value="b"
            ></el-option>
          </el-select>
          随机人数：<el-input-number
            size="small"
            v-model="item.randomNum"
          ></el-input-number>
        </el-col>
        <el-col>
          <el-button size="small" @click="genOne(item)">生成</el-button>
          考核人：{{ item.random.join(",") }}
        </el-col>
        <el-col :span="12"> </el-col>
      </el-row>
    </base-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      all: [
        "王晓晓",
        "孙飞飞",
        "王新龙",
        "谭占占",
        "赖炯",
        "钟伟",
        "薛晓鹏",
        "陈瑞祥",
        "查显能",
        "陈龙赞",
        "沈日新",
        "孙如飞",
        "徐金柳",
        "张焱",
        "肖涵",
        "赵思远",
        "范仲丽",
        "张嫣然",
        "朱从飞",
        "江雨田",
        "黄佳杰",
        "陈希钜",
        "林宇",
        "何平",
        "万波",
        "杜涛涛",
        "胡武星",
        "杨珍",
        "程志强",
        "葛启才",
        "蒋由达",
        "李甲升",
        "刘超",
        "何嘉豪",
        "陈勇",
        "蒋莉莉",
        "张婷婷",
        "孙巍",
        "陈高平",
        "郑忆婧",
        "金玉龙",
        "徐峰",
        "宋晴琼",
        "赖文楠",
      ],
      list: [],
    };
  },
  computed: {
    exp() {
      return this.geshu([].concat(...this.list.map((x) => x.random)));
    },
  },
  methods: {
    genAll() {
      for (let i = 0; i < this.list.length; i++) {
        this.genOne(this.list[i]);
      }
    },
    genOne(item) {
      item.random = this.getRandomArrayElements(item.b, item.randomNum);
    },
    unique3(arr) {
      //去重
      return Array.from(new Set(arr));
    },
    geshu(arr) {
      let num = [];
      let arrSum = this.unique3(arr);
      arrSum.forEach((value) => {
        num.push({ name: value, value: arr.join("").split(value).length - 1 });
      });
      return num;
    },
    getRandomArrayElements(arr, count) {
      let shuffled = arr.slice(0),
        i = arr.length,
        min = i - count,
        temp,
        index;
      while (i-- > min) {
        index = Math.floor((i + 1) * Math.random());
        temp = shuffled[index];
        shuffled[index] = shuffled[i];
        shuffled[i] = temp;
      }
      return shuffled.slice(min);
    },
  },
};
</script>
