<!--
Copyright (c) 2020-2030, Zhiqiangc 程志强 (zhiqiangc1991@outlook.com).
<p></p>
-->

<!--
/**
 *
 * @author     ：Zhiqiangc.
 * @date       ：Created in 10:43 2021/2/26
 */
-->
<template>
    <div>test</div>
</template>

<script>
    export default {
        name: "test"
    }
</script>

<style scoped></style>
