<template>
  <div class="top-menu">
    <el-menu :default-active="activeIndex"
             mode="horizontal"
             text-color="#333">
      <template v-for="(item,index) in items">
        <el-menu-item :index="index"
                      @click.native="openMenu(item)"
                      :key="index">
          <template slot="title">
            <i :class="item.icon"></i>
            <span>{{item.label}}</span>
          </template>
        </el-menu-item>
      </template>
    </el-menu>
  </div>
</template>

<script>
import { findNode } from "@/util/util";
import { mapGetters } from "vuex";
export default {
  name: "top-menu",
  data() {
    return {
      activeIndex: 0,
      items: []
    };
  },
  created() {
    this.getMenu();
  },
  computed: {
    ...mapGetters(["tagCurrent", "menu","menuAll"])
  },
  methods: {
    getMenu() {
      // 获取所有系统菜单并初始化
      // this.$store.dispatch("GetMenu",0).then((data) => {
      //   if (data.length === 0) return;
      //   // this.$router.$avueRouter.formatRoutes(data, true);
      // });
      // 获取所有顶部菜单
      this.$store.dispatch("GetTopMenu").then(res => {
        this.items = res;
        // 注意：这个时候并不知道 顶部菜单 和左侧菜单的关系 所以还要根据顶部获取一下左侧菜单
        // 实现默认打开第一个顶部菜单的第一个子菜单
        if(this.items.length>0) {
          this.openMenu(this.items[this.activeIndex],false)
        }

      });


    },
    openMenu(item,open=true) {
      //
      this.$store.dispatch("GetMenu",item.parentId).then((data) => {
        if (data.length === 0 || !open) return;
        let itemActive;
        if (item.path) { // 后台配置了默认地址
          itemActive = item;
        } else { //  后台没配置了默认地址
          // 找第一个无叶子节点的节点
          const firstNoChildrenNode = findNode(this.menu, (node) => {
            return this.$validatenull(node.children)
          })
          itemActive = firstNoChildrenNode
        }
        this.$router.push({path: itemActive.path})
      });

    }
  }
};
</script>
