.jboot-left,
.jboot-header,
.jboot-layout,
.jboot-view,
.jboot-footer,
.jboot-main {
  transition: all .3s;
}
.jboot-header{
  padding-left: 240px;
}
.jboot-left{
}
.jboot-main{
  padding-left: 240px;
}
.jboot-view{

}
.jboot-footer{
  display: none;
}
