<template>
  <table v-if="tree[options.children]" style="width: 100%;table-layout: fixed;" cellpadding="0" cellspacing="0" border="1">
    <tbody>
    <tr>
      <td v-for="sub in tree[options.children]">
        <native-body :tree="sub"></native-body>
      </td>
    </tr>
    </tbody>
  </table>
  <span v-else> {{tree[options.label]}}</span>
</template>

<script>
export default {
  name: "native-body",
  props: {
    options: {
      type: Object,
      default() {return {
        children: 'children',
        label: 'value',
      }}
    },
    tree: {
      type: Object,
      default() {return {}}
    }
  }
}
</script>

<style scoped>

</style>
