<template>
<!--  <table id="tab" style="width: 100%" cellpadding="0" cellspacing="0" border="1">-->
<!--    <tr>-->
<!--      <th rowspan="2">序号</th>-->
<!--      <th rowspan="2">监测位置</th>-->
<!--      <th rowspan="2">供电通路</th>-->
<!--      <th rowspan="2">供电电压</th>-->
<!--      <th rowspan="2">负载电流</th>-->
<!--      <th rowspan="2">雷击次数</th>-->
<!--      <th rowspan="2">最近一次雷击时间</th>-->
<!--      <th colspan="2">后备保护空开状态</th>-->
<!--      <th rowspan="2">SPD损害数量</th>-->
<!--      <th colspan="2">输出空开状态</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>B级</th>-->
<!--      <th>C级</th>-->
<!--      <th>1路</th>-->
<!--      <th>2路</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>B级</th>-->
<!--      <th>C级</th>-->
<!--      <th>1路</th>-->
<!--      <th>2路</th>-->
<!--    </tr>-->
<!--    <tr> <th rowspan="4">1</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>1</th>-->
<!--      <th>78</th>-->
<!--      <th>96</th>-->
<!--      <th>67</th>-->
<!--      <th>98</th>-->
<!--      <th>88</th>-->
<!--      <th>75</th>-->
<!--      <th>94</th>-->
<!--      <th>69</th>-->
<!--      <th>23 </th>-->
<!--      <th>33 </th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th colspan="2">提示建议</th>-->
<!--      <th colspan="2">智能防雷箱状态</th>-->
<!--      <th colspan="2">防雷箱型号</th>-->
<!--      <th colspan="3">防雷箱序列号</th>-->
<!--      <th colspan="2">防雷箱版本</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th colspan="2">建议整机按规程检测</th>-->
<!--      <th colspan="2">在线</th>-->
<!--      <th colspan="2">2018041201-035PF</th>-->
<!--      <th colspan="3">2018041201-256</th>-->
<!--      <th colspan="2">V1.0.0</th>-->
<!--    </tr>-->
<!--  </table>-->
  <table id="tab" style="width: 100%;table-layout: fixed;" cellpadding="0" cellspacing="0" border="1">
    <thead>
      <tr>
        <th v-for="head in tableHeader">
          {{head.label}}
          <native-head :tree="head"></native-head>
        </th>
      </tr>
    </thead>
<tbody>
      <tr v-for="row in tableData">
        <th v-for="span in row">
          <native-body :tree="span"></native-body>
        </th>
      </tr>
</tbody>
  </table>
</template>

<script>
import NativeHead from './native-head'
import NativeBody from './native-body'
export default {
  name: "native",
  components: {NativeHead,NativeBody},
  data() {
    return {
      tableHeader: [
        {
          label:"日期",
        },
        {
          label:"配送信息",
          children: [
            {
              label:"姓名",
              children: [
                {
                  label:"姓名1",
                },
                {
                  label:"姓名2",
                }]
            },
            {
              label:"aaa",
            }
          ]
        },
        {
          label:"日期2",
        },
      ],
      tableData: [
        [{
          value:"150",
        },
        {
          value:"配送信息",
          children: [
              {
                prop:"name",
                label:"姓名",
                value:"120",
                children: [
                  {
                    prop:"name",
                    label:"姓名1",
                    value:"120",
                  },
                  {
                    prop:"name",
                    label:"姓名2",
                    value:"120",
                  }]
              },
              {
                prop:"name1",
                label:"aaa",
                value:"120",
              }
            ]
        },
          {
            value:"150",
          },
        ],
        [{
          value:"150",
        },
          {
            value:"配送信息",
            children: [
              {
                prop:"name",
                label:"姓名",
                value:"120",
                children: [
                  {
                    prop:"name",
                    label:"姓名1",
                    value:"120",
                  },
                  {
                    prop:"name",
                    label:"姓名2",
                    value:"120",
                  }]
              },
              {
                prop:"name1",
                label:"aaa",
                value:"120",
              }
            ]
          },
          {
            value:"150",
          },
        ]

      ],
    }
  }
}
</script>

<style scoped>

</style>
