<template>
  <table v-if="tree[options.children]" style="width: 100%;table-layout: fixed;" cellpadding="0" cellspacing="0" border="1">
    <thead>
    <tr>
      <th v-for="sub in tree[options.children]">
        {{sub[options.label]}}
        <native-head :tree="sub"></native-head>
      </th>
    </tr>
    </thead>
  </table>
</template>

<script>
export default {
  name: "native-head",
  props: {
    options: {
      type: Object,
      default() {return {
        children: 'children',
        label: 'label'
      }}
    },
    tree: {
      type: Object,
      default() {return {}}
    }
  }
}
</script>

<style scoped>

</style>
