<template>
  <div class="avue-sidebar">
    <logo></logo>
    <el-scrollbar style="height:100%">
      <div v-if="$validatenull(menu)" class="avue-sidebar--tip">
        {{ $t("menuTip") }}
      </div>
      <el-menu
        unique-opened
        :default-active="nowTagValue"
        :default-openeds="defaultOpened"
        mode="vertical"
        :show-timeout="200"
        :collapse="keyCollapse"
      >
        <sidebar-item
          :menu="menu"
          :screen="screen"
          first
          :props="website.menu.props"
          :collapse="keyCollapse"
        ></sidebar-item>
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import logo from "../logo";
import sidebarItem from "./sidebarItem";
import {routeTools} from '@/router/auto-routes';
export default {
  name: "sidebar",
  components: { sidebarItem, logo },
  data() {
    return {};
  },
  created() {
  },
  computed: {
    ...mapGetters(["website", "menu", "tag", "keyCollapse", "screen"]),
    nowTagValue: function() {
      return routeTools.getValue(this.$route);
    },
    defaultOpened: function() {
      if(this.$validatenull(this.menu)) {
        return []
      }
      return this.$validatenull[this.menu[0][this.website.menu.props.children]] ? [] : [ this.menu[0][this.website.menu.props.path]]
    },
  },
  mounted() {},
  methods: {},
};
</script>
<style lang="scss" scoped>
.avue-sidebar {
  padding-top: 0!important;
  margin-top: 64px;
}
</style>
