<template>
  <base-container>
    welcome！
<!--    <dy-table></dy-table>-->
<!--    <dy-na-table></dy-na-table>-->
    <!--<RedirectAuth></RedirectAuth>-->
    <third-register></third-register>
  </base-container>
</template>
<script>
  // import RedirectAuth from "@/components/redirect/info.vue"
  import thirdRegister from "@/components/icas-register/index.vue"
  import DyTable from '@/components/dynamic-table/main.vue'
  import DyNaTable from '@/components/dynamic-table/native.vue'
export default {
    components: {thirdRegister,DyTable,DyNaTable},
  mounted() {
  }
}
</script>
