<template>
  <base-container>
    <h3>simple表操作</h3>
    <jboot-crud
      ref="crud"
      v-model="form"
      :option="option"
      :table-loading="loading"
      :data="data"
      :page="page"
      :permission="permissionList"
      :before-open="beforeOpen"
      @row-update="rowUpdate"
      @row-save="rowSave"
      @row-del="rowDel"
      @search-change="searchChange"
      @search-reset="searchReset"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
    >
      <template slot="menuLeft">
        <el-button
          v-if="permission.simple_delete"
          type="danger"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
        >
          删 除
        </el-button>
      </template>
    </jboot-crud>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import { getList, getDetail, add, update, remove } from "@/api//test//simple";

export default {
  data() {
    return {
      form: {},
      query: {},
      loading: true,
      page: {
        pageSize: 10,
        currentPage: 1,
        total: 0,
      },
      selectionList: [],
      option: {
        // height: 'auto',
        // calcHeight: 210,
        searchShow: true,
        searchMenuSpan: 6,
        addBtn: true,
        searchBtn: true,
        columnBtn: true,
        refreshBtn: true,
        tip: false,
        border: true,
        index: true,
        viewBtn: true,
        editBtn: true,
        delBtn: true,
        selection: true,
        page: true,
        menuWidth: 210,
        column: [
          {
            label: "自增id",
            prop: "id",
            rules: [
              {
                required: true,
                message: "请输入自增id",
                trigger: "blur",
              },
            ],
          },
          {
            label: "名称",
            prop: "name",
            rules: [
              {
                required: true,
                message: "请输入名称",
                trigger: "blur",
              },
            ],
          },
          {
            label: "性别 1-男，2-女",
            prop: "sex",
            rules: [
              {
                required: true,
                message: "请输入性别 1-男，2-女",
                trigger: "blur",
              },
            ],
          },
          {
            label: "工资",
            prop: "salray",
            rules: [
              {
                required: true,
                message: "请输入工资",
                trigger: "blur",
              },
            ],
          },
          {
            label: "是否激活 1-true,0-false",
            prop: "active",
            rules: [
              {
                required: true,
                message: "请输入是否激活 1-true,0-false",
                trigger: "blur",
              },
            ],
          },
          {
            label: "生日",
            prop: "birthday",
            rules: [
              {
                required: true,
                message: "请输入生日",
                trigger: "blur",
              },
            ],
          },
          {
            label: "创建时间",
            prop: "createTime",
            rules: [
              {
                required: true,
                message: "请输入创建时间",
                trigger: "blur",
              },
            ],
          },
          {
            label: "更新时间",
            prop: "updateTime",
            rules: [
              {
                required: true,
                message: "请输入更新时间",
                trigger: "blur",
              },
            ],
          },
        ],
      },
      data: [],
    };
  },
  computed: {
    ...mapGetters(["permission"]),
    permissionList() {
      return {
        addBtn: this.permission.simple_add || false,
        viewBtn: this.permission.simple_view || false,
        delBtn: this.permission.simple_delete || false,
        editBtn: this.permission.simple_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },
  methods: {
    rowSave(row, done, loading) {
      add(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          this.$console.log(error);
          loading();
        }
      );
    },
    rowUpdate(row, index, done, loading) {
      this.$axios(update(row)).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        });
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getDetail(this.$refs.crud.value.id).then((res) => {
          this.form = res.data.data;
        });
      }
      done();
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    selectionClear() {
      this.selectionList = [];
      this.$refs.crud.toggleSelection();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
      this.onLoad(this.page, this.query);
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
      this.onLoad(this.page, this.query);
    },
    onLoad(page, params = {}) {
      this.loading = true;
      getList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data.records;
        this.loading = false;
        this.selectionClear();
      });
    },
  },
};
</script>

<style></style>
