<template>
  <base-container>
    welcome！222
    <!--<RedirectAuth></RedirectAuth>-->
  </base-container>
</template>
<script>
  // import RedirectAuth from "@/components/redirect/info.vue"
  // import thirdRegister from "@/components/icas-register/info.vue"
export default {
    // components: {RedirectAuth,thirdRegister}
  mounted() {

  }
}
</script>
