<!--基础页面容器-->
<template>
  <div class="base-container">
    <el-card>
      <slot></slot>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'base-container'
}
</script>

<style lang="scss">
.base-container {
  padding: 10px 6px;
  border-radius: 10px;
  box-sizing: border-box;
  .el-card {
    width: 100%;
    height: 100%;
    .el-card__body {
      height: 100%;
    }
  }
  &:first-child {
    padding-top: 8px;
  }
}
</style>
