<template>
  <base-container>
    <avue-crud
      ref="crud"
      v-model="form"
      :option="option"
      :table-loading="loading"
      :data="data"
      :page="page"
      :permission="permissionList"
      :before-open="beforeOpen"
      @row-update="rowUpdate"
      @row-save="rowSave"
      @row-del="rowDel"
      @search-change="searchChange"
      @search-reset="searchReset"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
    >
      <template slot="menuLeft">
        <el-button
          v-if="permission.powerApi_delete"
          type="danger"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
        >
          删 除
        </el-button>
      </template>
    </avue-crud>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import {
  getList,
  getDetail,
  add,
  update,
  remove
} from "@/api/authority/power-api";
import { baseUrl } from "@/config/env";
export default {
  layout: "admin",
  props: {
    menuId: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      form: {},
      query: {},
      loading: true,
      page: {
        pageSize: 10,
        currentPage: 1,
        total: 0
      },
      selectionList: [],
      option: {
        // height: 'auto',
        // calcHeight: 210,
        searchShow: true,
        searchMenuSpan: 6,
        addBtn: true,
        searchBtn: true,
        columnBtn: true,
        refreshBtn: true,
        tip: false,
        border: true,
        index: true,
        viewBtn: true,
        editBtn: true,
        delBtn: true,
        selection: true,
        page: true,
        menuWidth: 210,
        column: [
          {
            label: "权限名称",
            prop: "powerName",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入接口权限名",
                trigger: "blur"
              }
            ]
          },
          {
            label: "资源编号",
            prop: "resourceCode",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入资源编号",
                trigger: "blur"
              }
            ]
          },
          {
            label: "权限地址",
            prop: "powerPath",
            rules: [
              {
                required: true,
                message: "请输入接口权限地址",
                trigger: "blur"
              }
            ]
          },
          {
            label: "接口类型",
            prop: "powerType",
            type: "select",
            dicUrl: baseUrl + "/dict/dictionary?code=api_scope_type",
            dicRes: "data",
            showColumn: false,
            viewDisplay: false,
            props: {
              label: "dictValue",
              value: "dictKey"
            },
            rules: [
              {
                required: true,
                message: "请输入接口权限类型",
                trigger: "blur"
              }
            ]
          },
          {
            label: "备注",
            prop: "remark",
            span: 24,
            hide: true,
            rules: [
              {
                required: false,
                message: "请输入接口权限备注",
                trigger: "blur"
              }
            ]
          }
        ]
      },
      data: []
    };
  },
  computed: {
    ...mapGetters(["permission"]),
    permissionList() {
      return {
        addBtn: this.permission.powerApi_add || false,
        viewBtn: this.permission.powerApi_view || false,
        delBtn: this.permission.powerApi_delete || false,
        editBtn: this.permission.powerApi_edit || false
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach(ele => {
        ids.push(ele.id);
      });
      return ids.join(",");
    }
  },
  watch: {
    menuId(val) {
      this.page.currentPage = 1;
      this.onLoad(this.page);
    }
  },
  methods: {
    rowSave(row, done, loading) {
      row.menuId= this.menuId
      add(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!"
          });
        },
        error => {
          this.$console.log(error);
          loading();
        }
      );
    },
    rowUpdate(row, index, done, loading) {
      update(row).then(
        () => {
          done();
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!"
          });
        },
        error => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!"
          });
        });
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!"
          });
          this.$refs.crud.toggleSelection();
        });
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getDetail(this.form.id).then(res => {
          this.form = res.data.data;
        });
      }
      done();
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    selectionClear() {
      this.selectionList = [];
      this.$refs.crud.toggleSelection();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
      this.onLoad(this.page, this.query);
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
      this.onLoad(this.page, this.query);
    },
    onLoad(page, params = {}) {
      this.loading = true;
      getList(
        this.menuId,
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then(res => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data.records;
        this.loading = false;
        this.selectionClear();
      });
    }
  }
};
</script>

<style></style>
