<template>
    <div>
        <el-dialog :visible.sync="show" title="Tips" width="100%" draggable>
            <avue-form-design ref="designRef"
                :options="options"
                :aside-left-width="270"
                :aside-right-width="380"
                @submit="handleSubmit"></avue-form-design>
        </el-dialog>
        <el-button type="primary" @click="openBox">表单设计器</el-button>
    </div>
</template>
<script>
export default {

    props: {json: {type: Object}},
    data(){return {
    options:{},
    show: false
}},
methods:{
   
handleSubmit(val) { // method
  this.copyValue(val)
  this.$message.success("复制成功，将已存在的js赋值avue-form的option属性来展示设计好的表单")
  console.log(val);
},
copyValue(val) {
  const clipboardObj = navigator.clipboard;
  clipboardObj.writeText(JSON.stringify(val))
},
openBox(val) {
  this.show = true
  this.copyValue(this.json)
  console.log(this.$refs);
  this.options = this.json;
},
closeBox (val) {
  this.show = false
}
}

}
</script>