<template>
  <div>
    <base-container>
      <avue-tabs
        :option="option"
        @change="handleChange"
      ></avue-tabs>
      <span v-for="tab in option.column" :key="tab.prop">
      <avue-form v-if="type.prop === tab.prop" :option="tab.option" v-model="form" @submit="handleSubmit"></avue-form>
    </span>
    </base-container>
  </div>
</template>

<script>
import option from "@/const/user/info";
import { getUserInfo, update, updatePassword } from "@/api/setting/user";
import thirdRegister from "@/components/icas-register/index.vue"

export default {
  components: {thirdRegister},
  data() {
    return {
      type: {prop:"info"},
      option: option,
      form: {},
    };
  },
  created() {
    this.handleWitch();
  },
  methods: {
    handleSubmit() {
      if (this.type.prop === "info") {
        update(this.form).then((res) => {
          if (res.data.success) {
            this.$message({
              type: "success",
              message: "修改信息成功!",
            });
          } else {
            this.$message({
              type: "error",
              message: res.data.msg,
            });
          }
        });
      } else {
        updatePassword(
          this.form.oldPassword,
          this.form.newPassword,
          this.form.newPassword1
        ).then((res) => {
          if (res.data.success) {
            this.$message({
              type: "success",
              message: "修改密码成功!",
            });
          } else {
            this.$message({
              type: "error",
              message: res.data.msg,
            });
          }
        });
      }
    },
    handleWitch() {
      if (this.type.prop === "info") {
        getUserInfo().then((res) => {
          const user = res.data.data;
          this.form = {
            id: user.id,
            avatar: user.avatar,
            name: user.name,
            realName: user.realName,
            phone: user.phone,
            email: user.email,
          };
        });
      }
    },
    handleChange(item) {
      this.type = item;
      this.handleWitch();
    },
  },
};
</script>

<style></style>
