<template>
  <div></div>
</template>

<script>
  import { validatenull } from "@/util/validate";
  export default {
  name: "authredirect-code",
  data: () => ({
    params: null,
    query: null,
    source:null,
    icasForm: {
      tenantId: "000000",
      source: "",
      code: "",
      state: "",
    }
  }),
  created() {

    this.icasForm.source = this.$route.params.source;
    this.icasForm.code = this.$route.query.code;
    this.icasForm.state = this.$route.query.state;

    if (!validatenull(this.icasForm.source) && !validatenull(this.icasForm.code) && !validatenull(this.icasForm.state)) {
      const loading = this.$loading({
        lock: true,
        text: '第三方系统登录中,请稍后。。。',
        spinner: "el-icon-loading"
      });
      this.$store.dispatch("LoginByIcas", this.icasForm)
        .then(() => {})
        .catch((err) => {
          this.$console.log(err)
        })
        .finally(() => {
          loading.close();
          // window.location.href = `${window.location.origin}/#/login?code=${this.icasForm.code}&state=${this.icasForm.state}`
          this.$router.push({path: "/login"});
      });
    }
  }
};
</script>

<style></style>
