<template>
  <base-container>
    <avue-crud
      ref="crud"
      v-model="form"
      :option="option"
      :table-loading="loading"
      :data="data"
      :page="page"
      :permission="permissionList"
      @before-open="beforeOpen"
      @search-change="searchChange"
      @search-reset="searchReset"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
      @refresh-change="onLoad(page)"
    >
      <template slot="menuLeft">
        <el-button
          v-if="permission.logError_delete"
          type="danger"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
        >
          删 除
        </el-button>
      </template>
    </avue-crud>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import { getErrorList, getErrorLogs } from "@/api/logs";

export default {
  data() {
    return {
      form: {},
      query: {},
      loading: true,
      page: {
        pageSize: 10,
        currentPage: 1,
        total: 0,
      },
      selectionList: [],
      option: {
        searchShow: true,
        searchMenuSpan: 6,
        addBtn: true,
        searchBtn: true,
        columnBtn: true,
        refreshBtn: true,
        tip: false,

        border: true,
        index: true,
        viewBtn: true,
        editBtn: true,
        delBtn: true,
        selection: false,
        page: true,
        menuWidth: 80,
        column: [
          {
            label: "租户ID",
            prop: "tenantId",
            showColumn: false,
            viewDisplay: false,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入租户ID",
                trigger: "blur",
              },
            ],
          },
          {
            label: "服务ID",
            prop: "serviceId",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入服务ID",
                trigger: "blur",
              },
            ],
          },
          {
            label: "服务host",
            prop: "serverHost",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入服务器名",
                trigger: "blur",
              },
            ],
          },
          {
            label: "服务IP",
            prop: "serverIp",
            rules: [
              {
                required: true,
                message: "请输入服务器IP地址",
                trigger: "blur",
              },
            ],
          },
          {
            label: "系统环境",
            prop: "env",
            rules: [
              {
                required: true,
                message: "请输入系统环境",
                trigger: "blur",
              },
            ],
          },
          {
            label: "请求方式",
            prop: "method",
            rules: [
              {
                required: true,
                message: "请输入操作方式",
                trigger: "blur",
              },
            ],
          },
          {
            label: "请求地址",
            prop: "requestUri",
            rules: [
              {
                required: true,
                message: "请输入请求URI",
                trigger: "blur",
              },
            ],
          },
          {
            label: "日志时间",
            prop: "createTime",
            rules: [
              {
                required: true,
                message: "请输入创建时间",
                trigger: "blur",
              },
            ],
          },
          {
            label: "用户代理",
            prop: "userAgent",
            overHidden: true,
            hide: true,
            span: 24,
            rules: [
              {
                required: true,
                message: "请输入用户代理",
                trigger: "blur",
              },
            ],
          },
          {
            label: "请求数据",
            prop: "params",
            hide: true,
            span: 24,
            rules: [
              {
                required: true,
                message: "请输入操作提交的数据",
                trigger: "blur",
              },
            ],
          },
          {
            label: "日志数据",
            prop: "stackTrace",
            span: 24,
            type: "textarea",
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入堆栈",
                trigger: "blur",
              },
            ],
          },
          {
            label: "异常名",
            prop: "exceptionName",
            showColumn: false,
            viewDisplay: false,
            overHidden: true,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入异常名",
                trigger: "blur",
              },
            ],
          },
          {
            label: "异常信息",
            prop: "message",

            showColumn: false,
            viewDisplay: false,
            overHidden: true,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入异常信息",
                trigger: "blur",
              },
            ],
          },
          {
            label: "错误行数",
            prop: "lineNumber",
            showColumn: false,
            viewDisplay: false,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入错误行数",
                trigger: "blur",
              },
            ],
          },
          {
            label: "操作IP地址",
            prop: "remoteIp",
            showColumn: false,
            viewDisplay: false,

            rules: [
              {
                required: true,
                message: "请输入操作IP地址",
                trigger: "blur",
              },
            ],
          },
          {
            label: "方法类",
            prop: "methodClass",
            showColumn: false,
            viewDisplay: false,
            overHidden: true,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入方法类",
                trigger: "blur",
              },
            ],
          },
          {
            label: "文件名",
            prop: "fileName",
            showColumn: false,
            viewDisplay: false,
            overHidden: true,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入文件名",
                trigger: "blur",
              },
            ],
          },
          {
            label: "方法名",
            prop: "methodName",
            showColumn: false,
            viewDisplay: false,
            overHidden: true,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入方法名",
                trigger: "blur",
              },
            ],
          },

          {
            label: "执行时间",
            prop: "time",
            showColumn: false,
            viewDisplay: false,
            hide: true,
            rules: [
              {
                required: true,
                message: "请输入执行时间",
                trigger: "blur",
              },
            ],
          },
          {
            label: "创建者",
            prop: "createUser",
            showColumn: false,
            hide: true,
            viewDisplay: false,
            rules: [
              {
                required: true,
                message: "请输入创建者",
                trigger: "blur",
              },
            ],
          },
        ],
      },
      data: [],
    };
  },
  computed: {
    ...mapGetters(["permission"]),
    permissionList() {
      return {
        addBtn: this.permission.logError_add || false,
        viewBtn: this.permission.logError_view || false,
        delBtn: this.permission.logError_delete || false,
        editBtn: this.permission.logError_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },
  methods: {
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getErrorLogs(this.form.id).then((res) => {
          this.form = res.data.data;
        });
      }
      done();
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    selectionClear() {
      this.selectionList = [];
      this.$refs.crud.toggleSelection();
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
      this.onLoad(this.page, this.query);
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
      this.onLoad(this.page, this.query);
    },
    onLoad(page, params = {}) {
      this.loading = true;

      getErrorList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data.records;
        this.loading = false;
        this.selectionClear();
      });
    },
  },
};
</script>

<style></style>
