<!--
Copyright (c) 2020-2030, Zhiqiangc 程志强 (zhiqiangc1991@outlook.com).
<p></p>
-->

<!--
/**
 * 菜单管理
 * @author     ：Zhiqiangc.
 * @date       ：Created in 14:23 2020/8/11
 */
-->
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <el-row>

    <el-col :span="18">
      <base-container>
        <avue-tabs :option="tabsOption" @change="handleTabChange"></avue-tabs>
        <power-api v-if="tabActive === 'api'" :menu-id="menuId"></power-api>
        <power-data v-if="tabActive === 'data'" :menu-id="menuId"></power-data>
      </base-container>
    </el-col>
    <el-col :span="6">
      <base-container>
        <avue-tree :option="treeOption" :data="treeData" @node-click="handleNodeClick"></avue-tree>
        <!--        <avue-crud-->
        <!--          ref="crud"-->
        <!--          v-model="form"-->
        <!--          :permission="permissionList"-->
        <!--          :table-loading="loading"-->
        <!--          :option="option"-->
        <!--          :data="data"-->
        <!--          :page="page"-->
        <!--          @search-change="searchChange"-->
        <!--          @search-reset="searchReset"-->
        <!--          @selection-change="selectionChange"-->
        <!--          @current-change="currentChange"-->
        <!--          @size-change="sizeChange"-->
        <!--          @on-load="onLoad"-->
        <!--        >-->
        <!--          <template v-slot:menu="scope">-->
        <!--            <el-button-->
        <!--              v-if="userInfo.authority.includes('admin')"-->
        <!--              size="small"-->
        <!--              icon="el-icon-setting"-->
        <!--              type="text"-->
        <!--              @click="handleRole(scope.row)"-->
        <!--            >-->
        <!--              权限设置-->
        <!--            </el-button>-->
        <!--          </template>-->
        <!--        </avue-crud>-->
      </base-container>
    </el-col>
  </el-row>

</template>
<script>
  import { mapGetters } from "vuex";

  import {
    getMenuTree,
  } from "@/api/setting/menu";
  import PowerApi from "@/views/authority/power/api"
  import PowerData from "@/views/authority/power/data"
  export default {
    components:{PowerApi,PowerData},
    data: () => ({
      box: false,
      loading: true,
      form: {}, // 表单
      menuId: null,
      tabActive: 'data',
      tabsOption: {column: [
        // {
        //     label: "按钮权限",
        //     prop: "button",
        // },
          {
            label: "数据权限",
            prop: "data",
          },
          {
            label: "接口权限",
            prop: "api",
          }
        ]
      },
      treeOption:{
        addBtn: false,
        defaultExpandAll: true,
        // formOption:{
        //   labelWidth:100,
        //   column:[{
        //     label:'自定义项',
        //     prop:'name'
        //   }],
        // },
        props:{
          labelText:'标题',
          label:'title',
          value:'id',
          children:'children'
        }
      },
      treeData:[],
    }),
    computed: {
      ...mapGetters(["userInfo", "permission"]),

    },
    created() {

      getMenuTree().then(res => {
        this.treeData = res.data.data
      })
    },
    methods: {
      handleNodeClick(val){
        this.menuId = val.id
      },
      handleTabChange(item) {
        this.$console.log(`handleChange---- ${item}`);
        this.tabActive = item.prop;
      },
    },
  };
</script>

<style scoped></style>
