<!--
Copyright (c) 2020-2030, Zhiqiangc 程志强 (zhiqiangc1991@outlook.com).
<p></p>
-->

<!--
/**
 * 菜单管理
 * @author     ：Zhiqiangc.
 * @date       ：Created in 14:23 2020/8/11
 */
-->
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <base-container>
    <jboot-crud
      ref="crud"
      v-model="form"
      :permission="permissionList"
      :table-loading="loading"
      :option="option"
      :data="data"
      :page="page"
      @search-change="searchChange"
      @search-reset="searchReset"
      @row-save="rowSave"
      @row-update="rowUpdate"
      @row-del="rowDel"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
    >
      <template v-slot:menu="{ scope }">
        <el-button
          v-if="userInfo.authority.includes('admin')"
          size="small"
          icon="el-icon-setting"
          plain
          @click="handleRole(scope.row)"
        >
          权限设置
        </el-button>
      </template>
    </jboot-crud>
    <el-drawer
      :title="`[${form.name}]数据权限配置`"
      :visible.sync="box"
      size="70%"
    >

      <power-data  :menu-id="form.id"></power-data>
    </el-drawer>
  </base-container>
</template>
<script>
  import { mapGetters } from "vuex";

  import {
    getList,
    getMenu,
    add,
    update,
    remove,
    getMenuTree,
  } from "@/api/setting/menu";
  import iconList from "@/config/iconList";
  import { getDict } from "@/api/setting/dict";
  import PowerApi from "@/views/authority/power/api"
  import PowerData from "@/views/authority/power/data"
  export default {
    layout: "admin",
    name: "MenuSetting",
    components:{PowerApi,PowerData},
    data: () => ({
      box: false,
      loading: true,
      form: {}, // 表单
      selectionList: [], // 选中的id
      query: {},
      page: {
        // 分页
        pageSize: 10,
        currentPage: 1,
        total: 0,
      },
      option: {
        size: "small",
        searchBtn: true,
        searchShow: true,
        searchMenuSpan: 6,
        columnBtn: true,
        refreshBtn: true,
        // 表格配置
        tip: false,
        border: true,
        index: true,
        selection: true,
        menuWidth: 300,
        page: false,
        column: [
          {
            fixed: true,
            label: "菜单名称",
            prop: "name",
            search: true,
            rules: [
              {
                required: true,
                message: "请输入菜单名称",
                trigger: "blur",
              },
            ],
          },
          {
            label: "路由地址",
            prop: "path",
          },
          {
            label: "父级菜单",
            prop: "parentName",
            editDisplay: false,
            hide: true,
          },
          {
            label: "父级菜单",
            prop: "parentId",
            type: "select-tree",
            // dicUrl: '/simple/menu/tree',
            // dicApi: getMenuTree(),
            hide: true,
            showColumn: false,
          },
          {
            label: "菜单图标",
            prop: "source",
            type: "icon-select",
            align: "center",
            // slot: true,
            iconList,
            // rules: [
            //   {
            //     required: false,
            //     message: '请输入菜单图标',
            //     trigger: 'click'
            //   }
            // ]
          },
          {
            label: "菜单编号",
            prop: "code",
            search: true,
          },
          {
            label: "菜单类型",
            prop: "categoryName",
            hide: true,
            editDisplay: false,
          },
          {
            label: "菜单类型",
            prop: "category",
            type: "radio",
            showColumn: false,
            // dicApi: getDict("menu_category"),
            props: {
              label: "dictValue",
              value: "dictKey",
            },
            // dicData: [
            //   {
            //     label: '菜单',
            //     value: 1
            //   },
            //   {
            //     label: '按钮',
            //     value: 2
            //   }
            // ],
            hide: true,
          },
          {
            label: "别名",
            prop: "alias",
          },

          {
            label: "排序",
            prop: "sort",
            type: "number",
          },

          {
            label: "备注",
            prop: "remark",
            span: 24,
            type: "textarea",
            hide: true,
          },
        ],
      },
      data: [],
    }),
    computed: {
      ...mapGetters(["userInfo", "permission"]),
      permissionList() {
        return {
          addBtn: this.permission.menu_add || false,
          viewBtn: this.permission.menu_view || false,
          delBtn: this.permission.menu_delete || false,
          editBtn: this.permission.menu_edit || false,
        };
      },
      ids() {
        const ids = [];
        this.selectionList.forEach((ele) => {
          ids.push(ele.id);
        });
        return ids.join(",");
      },
    },
    created() {

    },
    methods: {
      handleAdd(row, index) {
        this.$refs.crud.rowAdd();
        this.$refs.crud.value.parentId = row.id;
      },
      handleRole(row, index) {
        this.box = true;
        this.form = row;
      },
      rowSave(row, done) {
        add(row).then(
          () => {
            done();
            this.onLoad(this.page);
            this.$message({
              type: "success",
              message: "操作成功!",
            });
          },
          (error) => {
            this.$console.log(error);
          }
        );
      },
      rowUpdate(row, done, loading) {
        update(row).then(
          () => {
            done();
            this.onLoad(this.page);
            this.$message({
              type: "success",
              message: "操作成功!",
            });
          },
          (error) => {
            window.console.log(error);
            loading();
          }
        );
      },
      rowDel(row) {
        this.$confirm("确定将选择数据删除?", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(() => {
            return remove(row.id);
          })
          .then(() => {
            this.onLoad(this.page);
            this.$message({
              type: "success",
              message: "操作成功!",
            });
          });
      },
      searchReset() {
        this.query = {};
        this.onLoad(this.page);
      },
      searchChange(params, done) {
        this.query = params;
        this.page.currentPage = 1;
        this.onLoad(this.page, params);
        done();
      },
      selectionChange(list) {
        this.selectionList = list;
      },
      handleDelete() {
        if (this.selectionList.length === 0) {
          this.$message.warning("请选择至少一条数据");
          return;
        }
        this.$confirm("确定将选择数据删除?", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(() => {
            return remove(this.ids);
          })
          .then(() => {
            this.onLoad(this.page);
            this.$message({
              type: "success",
              message: "操作成功!",
            });
            this.$refs.crud.toggleSelection();
          });
      },
      beforeOpen(done, type) {
        if (["edit", "view"].includes(type)) {
          getMenu(this.form.id).then((res) => {
            this.form = res.data.data;
          });
        }
        done();
      },
      currentChange(currentPage) {
        this.page.currentPage = currentPage;
      },
      sizeChange(pageSize) {
        this.page.pageSize = pageSize;
      },
      onLoad(page, params = {}) {
        this.loading = true;
        params.category_numequal = 1;

        getList(
          page.currentPage,
          page.pageSize,
          Object.assign(params, this.query)
        ).then((res) => {
          const data = res.data.data;
          this.page.total = data.total;
          this.data = data;
          this.loading = false;
        });
      },
    },
  };
</script>

<style scoped></style>
