<!--
Copyright (c) 2020-2030, Zhiqiangc 程志强 (zhiqiangc1991@outlook.com).
<p></p>
-->

<!--
/**
 *
 * @author     ：Zhiqiangc.
 * @date       ：Created in 14:23 2020/8/11
 */
-->
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <base-container>
    <avue-crud
      ref="crud"
      v-model="form"
      :table-loading="loading"
      :option="option"
      :data="data"
      :page="page"
      :permission="permissionList"
      @before-open="beforeOpen"
      @search-change="searchChange"
      @search-reset="searchReset"
      @row-save="rowSave"
      @row-update="rowUpdate"
      @row-del="rowDel"
      @selection-change="selectionChange"
      @current-change="currentChange"
      @size-change="sizeChange"
      @on-load="onLoad"
      @refresh-change="onLoad(page)"
    >
      <template v-slot:menuLeft>
        <el-button
          v-if="permission.menu_delete"
          type="danger"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleDelete"
          >删 除
        </el-button>
        <el-button
          v-if="userInfo.authority.includes('admin')"
          size="small"
          icon="el-icon-delete"
          plain
          @click="handleRole"
        >
          权限设置
        </el-button>
      </template>

      <template v-slot:menu="scope">
        <el-button
          v-if="userInfo.authority.includes('admin')"
          type="text"
          icon="el-icon-circle-plus-outline"
          size="small"
          @click.stop="handleAdd(scope.row, scope.index)"
          >新增子项
        </el-button>
      </template>
    </avue-crud>
    <el-dialog title="权限配置" :visible.sync="box">
      <el-row :span="24">
        <el-col :span="12">
          <h5>菜单权限</h5>
          <el-tree
          ref="menu"
          :data="list.menu"
          show-checkbox
          node-key="id"
          :default-checked-keys="defaultObj.menu"
          :props="props"
        >
        </el-tree>
        </el-col>
        <el-col :span="12">  <h5>接口权限</h5><el-tree
          ref="apiScope"
          :data="list.apiScope"
          show-checkbox
          node-key="id"
          :default-checked-keys="defaultObj.apiScope"
          :props="props"
        >
        </el-tree></el-col>
        <el-col :span="8"><h5>数据权限</h5> <el-tree

          ref="dataScope"
          :data="list.dataScope"
          show-checkbox
          node-key="id"
          :default-checked-keys="defaultObj.dataScope"
          :props="props"
        ></el-tree></el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="box = false">取 消</el-button>
        <el-button type="primary" @click="submitGrant">
          确 定
        </el-button>
      </span>
    </el-dialog>
  </base-container>
</template>

<script>
import { mapGetters } from "vuex";
import {
  getList,
  getDetail,
  getRole,
  grant,
  grantTree,
  add,
  update,
  remove,
  getRoleTree,
} from "@/api/authority/role";
import website from "@/config/website";
import { getTenantSelect } from "@/api/setting/tenant";
import { getAllLeaf } from '@/util/util'
import {baseUrl} from "@/config/env";

export default {
  name: "RoleSetting",
  data: () => ({
    loading: true,
    box: false,
    props: {
      label: "title",
      value: "key",
    },
    defaultObj: [],
    list: [],
    form: {}, // 表单
    selectionList: [], // 选中的id
    query: {},
    page: {
      // 分页
      pageSize: 10,
      currentPage: 1,
      total: 0,
    },
    option: {
      addBtn: true,
      editBtn: true,
      viewBtn: true,
      delBtn: true,
      // 表格配置
      searchShow: true,
      searchBtn: true,
      refreshBtn: true,
      columnBtn: true,
      searchMenuSpan: 6,
      tip: false,
      border: true,
      index: true,
      selection: true,
      headerAlign: "left",
      menuWidth: 300,
      page: false,
      column: [
        {
          label: "唯一ID",
          prop: "id",
          hide:true,
          display: false,
        },
        {
          label: "所属租户",
          search: website.tenantMode,
          hide: !website.tenantMode,
          type: "select",
          dicUrl: baseUrl + "/tenant/select",
          props: {
            label: "tenantName",
            value: "tenantId",
          },
          prop: "tenantId",
          rules: [
            {
              required: true,
              message: "请选择租户",
              trigger: "blur",
            },
          ],
        },
        {
          label: "上级角色",
          prop: "parentId",
          hide: true,
          showColumn: false,
          type: "tree",
          props: {
            label: "title",
            value: "id",
          },
          // dicApi: getRoleTree(),
        },
        {
          fixed: true,
          label: "角色名",
          prop: "roleName",
          search: true,
          rules: [
            {
              required: true,
              message: "请输入角色名,3-10个字符",
              trigger: "blur",
              min: 3,
              max: 10,
            },
          ],
        },
        {
          label: "别名",
          prop: "roleAlias",
          search: true,
          rules: [
            {
              required: true,
              message: "请输入别名,3-10个字符",
              trigger: "blur",
              min: 3,
              max: 10,
            },
          ],
        },
        {
          label: "角色排序",
          prop: "sort",
          type: "number",
        },
      ],
    },
    data: [],
  }),
  computed: {
    ...mapGetters(["userInfo", "permission"]),
    permissionList() {
      return {
        addBtn: this.permission.role_add || false,
        viewBtn: this.permission.role_view || false,
        delBtn: this.permission.role_delete || false,
        editBtn: this.permission.role_edit || false,
      };
    },
    ids() {
      const ids = [];
      this.selectionList.forEach((ele) => {
        ids.push(ele.id);
      });
      return ids.join(",");
    },
  },
  methods: {
    submitGrant() {
      const menuIds = [...this.$refs.menu.getCheckedKeys(),...this.$refs.menu.getHalfCheckedKeys()].join(",");

      const apiScopeIds = this.$refs.apiScope.getCheckedKeys().join();
      const dataScopeIds = this.$refs.dataScope.getCheckedKeys().join();

      grant(this.ids, menuIds,apiScopeIds,dataScopeIds).then(() => {
        this.box = false;
        this.$message({
          type: "success",
          message: "操作成功!",
        });
        this.onLoad(this.page);
      });
    },
    handleAdd(row, index) {
      this.$refs.crud.rowAdd();
      this.$refs.crud.value.parentId = row.id;
      this.$console.log(index);
    },
    rowSave(row, done, loading) {
      add(row).then(
        () => {
          done()
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          loading()
          this.$console.log(error);
        }
      );
    },
    rowUpdate(row,index, done, loading) {
      update(row).then(
        () => {
          done()
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        },
        (error) => {
          window.console.log(error);
          loading();
        }
      );
    },
    rowDel(row) {
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(row.id);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
        });
    },
    searchReset() {
      this.query = {};
      this.onLoad(this.page);
    },
    searchChange(params, done) {
      this.query = params;
      this.page.currentPage = 1;
      this.onLoad(this.page, params);
      done();
    },
    selectionChange(list) {
      this.selectionList = list;
    },
    beforeOpen(done, type) {
      if (["edit", "view"].includes(type)) {
        getDetail(this.$refs.crud.value.id).then((res) => {
          this.form = res.data.data;
        });
      }
      done();
    },
    handleRole() {
      if (this.selectionList.length !== 1) {
        this.$message.warning("只能选择一条数据");
        return;
      }
      this.defaultObj = [];
      grantTree()
        .then((res) => {
          this.list = res.data.data;
          return getRole(this.ids);
        })
        .then((res) => {
          let {menu,dataScope,apiScope} = res.data.data;

          this.defaultObj = {
            menu:getAllLeaf(this.list.menu).filter(x=> menu.includes(x.id)).map(x=> x.id),
            dataScope,
            apiScope
          }
          this.box = true;
        });
    },
    handleDelete() {
      if (this.selectionList.length === 0) {
        this.$message.warning("请选择至少一条数据");
        return;
      }
      this.$confirm("确定将选择数据删除?", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          return remove(this.ids);
        })
        .then(() => {
          this.onLoad(this.page);
          this.$message({
            type: "success",
            message: "操作成功!",
          });
          this.$refs.crud.toggleSelection();
        });
    },
    currentChange(currentPage) {
      this.page.currentPage = currentPage;
    },
    sizeChange(pageSize) {
      this.page.pageSize = pageSize;
    },
    onLoad(page, params = {}) {
      this.loading = true;

      getList(
        page.currentPage,
        page.pageSize,
        Object.assign(params, this.query)
      ).then((res) => {
        const data = res.data.data;
        this.page.total = data.total;
        this.data = data;
        this.loading = false;
      });
      getRoleTree().then((res) => {
        this.$refs.crud.updateDic("parentId",res.data.data)
      });
      getTenantSelect().then((res) => {
        this.$refs.crud.updateDic("tenantId",res.data.data)
      });
    },
  },
};
</script>

<style scoped></style>
